<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/bbef287e-6b8a-4d91-9080-0498cc5777f5/resourcegroups/Classroom/providers/Microsoft.Web/sites/ManageCourseAPI20220118191313</ResourceId>
    <ResourceGroup>Classroom</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://managecourseapi20220118191313.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3cc90673-938b-4f67-aa8e-906efa897b62</ProjectGuid>
    <PublishUrl>https://managecourseapi20220118191313.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ManageCourseAPI20220118191313</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>